body {
  background: #f0f0f0;
  font-family: Arial, helvetica, sans-serif;
}

.s454-page {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: white;
  border: 1px solid #ddd;
}

.s454-gregorian, .s454-symmetry454 {
  width: 20%;
  float: left;
border: 1px solid blue;
padding: 5%;
margin: 1%;
}

.s454-converter {
  margin: 0 auto;
}
.s454-converter label {
  margin-bottom: 1em;
}
.s454-converter input {
  clear: both;
}
