body {
  background: white;
  font-family: Arial, helvetica, sans-serif;
}

.s454-page {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  height: 600px;
  padding-bottom: 60px;
}

.s454-gregorian, .s454-symmetry454 {
  width: 200px;
  float: left;
border: 1px solid #fdfdfd;
padding: 20px;
margin: 4px;

  margin-left: 81px;
}

.s454-converter {
  margin: 0 auto;
  width: 700px;
}
.s454-converter label {
  margin-bottom: 1em;
  float: left;
  color: #555;
  font-weight: bold;
}
.s454-converter input {
  clear: both;
  float: left;
}

#calendar {
  clear: both;
  width: 700px;
  margin-bottom: 40px;
  margin: 10px auto;
}

.quarter, .month, .week, .day {
  float: left;
  display: block;
}

.month, .week {
  clear: both;
}

.month {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-right: 21px;
  margin-bottom: 21px;
}

.day {
  width: 21px;
  height: 21px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 0;
}

.day:hover {
  background-color: #6CC6FF;
}

.wd6, .wd7 {
  background-color: #E0E0E0;
}
.monthname {
  border-right: 1px solid black;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  font-size: 1em;
  padding: 2px;
}
.date-selected {
  background: #009afd;
}
.quarter-4 {
  margin-right: -40px;
}
